    .homepage {
        width: 100%;
        height: 100%;
        background-color: rgb(230, 230, 230);
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
    
    .postarea {
        display: inline-block;
        background-color: white;
        margin: 10% 30% 10% 30%;
        width: 30%;
        height: 40%;
        border-radius: 2%;
        position: relative;
    }
    
    .top-area {
        display: flex;
        flex-direction: row;
        flex-basis: auto;
        justify-content: space-between;
    }
    
    .topleft {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .michael {
        border-radius: 50%;
        margin-left: 2%;
        margin-top: 5%;
        width: 40px;
        height: 40px;
    }
    
    .username {
        padding-left: 2%;
        font-weight: bold;
        font-size: 14px;
        width: 120px;
        color: #385898;
    }
    
    .username:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    
    .options {
        width: 100px;
    }
    
    .postdata {
        display: flex;
        flex-direction: row;
        margin-top: 2%;
        width: 100%;
    }
    
    .postdata:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    
    .postdate {
        width: 10%;
        padding-right: 0px;
        font-size: x-small;
    }
    
    .content area {
        display: inline-block;
    }
    
    .content {
        font-size: small;
        margin-left: 2%;
        text-align: left;
    }
    
    .upper {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 6%;
        margin-left: 2%;
        margin-bottom: 1%;
        font-size: 12px;
        padding-top: 2%;
        padding-bottom: 2%;
        border-top: rgb(180, 175, 175) 0.2px solid;
        border-bottom: rgb(180, 175, 175) 0.2px solid;
    }
    
    .upperleft {
        display: flex;
        flex-direction: row;
    }
    
    .upperleft:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    
    .reactions {
        height: 15px;
        width: 15px;
    }
    
    .upperright:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    
    .lower {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        margin-top: 0;
    }
    
    button {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        border: transparent;
        background-color: transparent;
        cursor: pointer;
    }
    
    button:hover {
        background-color: rgb(182, 174, 174);
        border-radius: 5%;
    }
    
    .lowerleft {
        width: calc(100%/3);
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    
    .lowermiddle {
        width: calc(100%/3);
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    
    .lowerright {
        width: calc(100%/3);
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-right: 0%;
    }
    
    .like {
        width: 15%;
        height: 15%;
        padding-right: 8%;
    }
    
    .comment {
        width: 15%;
        height: 15%;
        padding-right: 7%;
    }
    
    .share {
        height: 57%;
        width: 57%;
        padding-right: 8%;
    }
    
    .more {
        margin-top: 6%;
        margin-left: 75%;
        height: 25%;
        width: 35%;
    }
    
    .options:hover {
        background-color: transparent;
    }